h1 {
    border: groove #40e0d0;
background-color: turquoise;
text-align: center;
}
p {
    border: groove burlywood;
    background-color: burlywood;
    border-radius: 30px;
     margin-left: 400px;
    margin-right: 400px;
    height: 200px;
    text-align: center;
}
nav {
    text-align: center;
}