h1 {
    border: groove turquoise;
    background-color: turquoise;
}
h2 {
    text-decoration: overline;
}
div {
    border: outset 7px burlywood;
    border-color: burlywood;
    background-color: burlywood;
    border-width: 10px;
    padding: 15px;
    border-radius: 40px;
     margin-left: 400px;
    margin-right: 400px;
}
div img {
    width: 500px;
    height: 350px;
    border: outset 7px;
    border-radius: 15spx;
}
nav {
    text-align: center;
}
